<%= form_for @instrument do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :classification %>
    <%= f.text_field :classification%><br>


 <h3>Artist:</h3>

     <%= f.fields_for :artists, @instrument.artists.build do |t| %>

        <%= t.label :name %>
        <%= t.text_field :name, list: "artists_autocomplete" %>
            <datalist id="artists_autocomplete">
                <% Artist.all.each do |artist| %>
                    <option value="<%= artist.name %>">
                <% end %>
            </datalist>
        <br>

    <%end%>
    <br>
    
    <%= f.submit %>
<% end %>
